html
{
    width: 400px; /* max: 1000px */
    height: 40px; /* max: 750px */
}


body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 40px;
  color: #ffffffec;
  font-size: medium  ;
  background-color: #c4660ece; /* Pink with transparency */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Shadow for the popup */
  overflow: hidden; /* Ensure the image stays within the container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-container img {
  width: 80%; /* Adjust the width to your preference */
  height: auto; /* Maintain aspect ratio */

  opacity: 0.8; /* Initial image opacity */
  transform: translate(-50%, -50%); /* Center the image within the container */
  transition: opacity 1s; /* Smooth transition for opacity changes */
  animation: zoomInOut 4s infinite alternate; /* Slow zoom in/out animation */
}

/* Animation keyframes for zoom in/out */
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

/* Hover effect to change image opacity */
.popup-container:hover img {
  opacity: 1; /* Change image opacity on hover */
}
